@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

* {
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background: #FAFAFB;
}

#root {
    width: 100%;
    height: 100%;
}


.app {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

